/**
 * Color Palette for site
 **/

$color-white: #ffffff;
$color-lightest: #dfe7f2;
$color-light: #b0c1d9;
$color-medium: #7289a6;
$color-dark: #394859;
$color-darkest: #0f1317;

/**
  * Setting font in mini.css
  **/

$base-font-family: "Nunito",
    sans-serif;

/**
  * Setting colors in mini.css
  **/
$a-link-color: $color-lightest;
$a-visited-color: $color-light;

$border-color: $color-light;

$header-link-color: $color-lightest;
$header-visited-color: $color-light;
$header-back-color: $color-dark;
$header-fore-color: $color-white;
$header-border-color: $color-medium;
$header-hover-back-color: $color-medium;

$footer-link-color: $color-lightest;
$footer-visited-color: $color-light;
$footer-back-color: $color-dark;
$footer-fore-color: $color-white;
$footer-border-color: transparent;

$button-fore-color: $color-white;
$button-back-color: $color-dark;
$button-border-color: transparent;
$button-group-border-color: transparent;

$button-back-color: $color-dark;
$button-hover-back-color: lighten(
    $color-dark,
    10%
);

$button-inverse-name: "inverse";
$button-inverse-back-color: $color-dark;
$button-inverse-hover-back-color: lighten($color-dark, 10%);
$button-inverse-fore-color: $color-white;

$card-fore-color: $color-white;
$card-back-color: lighten($color-dark,10%);
$card-border-color: transparent;

$drawer-back-color: $color-dark;
$drawer-close-color: $color-white;

//Import Mini SCSS theme

@import "~mini.css/src/mini/core";
@import "~mini.css/src/mini/layout";

$card-fluid-name:              'fluid';            // Class name for fluid cards.
$card-fluid-width:             100%;               // Width for fluid cards.
@include make-card-alt-size ($card-fluid-name, $card-fluid-width);
@import "~mini.css/src/mini/layout";

$card-fluid-half-name:              'fluid-half';            // Class name for fluid-half cards.
$card-fluid-half-width:             50%;               // Width for fluid-half cards.
@include make-card-alt-size ($card-fluid-half-name, $card-fluid-half-width);

@import "~mini.css/src/mini/input_control";


@include make-button-alt-color(
    $button-inverse-name,
    $button-inverse-back-color,
    $button-inverse-hover-back-color,
    $button-inverse-fore-color
);

@import "~mini.css/src/mini/navigation";
@import "~mini.css/src/mini/table";
@import "~mini.css/src/mini/contextual";
//@import '~mini.css/src/mini/progress';
//@import '~mini.css/src/mini/icon';
@import "~mini.css/src/mini/utility";

//

footer {
    text-align: center;
}

.content-center {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    position: relative;
}
.content-span-height {
    min-height: 100vh;
}
.content-page {
    max-width: 60rem;
}

.content-image-credit {
    position: absolute;
    bottom: 1em;
    right: 1em;
}

.text-center {
    text-align: center;
}

body {
    background: $color-dark;
    color: $color-white;
    background-size: contain;
    min-height: 100vh;
}

.home-navigation {
    list-style: none;
    padding: calc(
            2 *
                #{$universal-padding}
        )
        0;
    margin: 0;
    text-align: center;
}
.home-navigation
    a {
    font-size: calc(
        1rem *
            var(
                #{$heading-ratio-var}
            ) *
            var(
                #{$heading-ratio-var}
            ) *
            var(
                #{$heading-ratio-var}
            )
    );
}
i.icon::before {
    display: block;
    font-size: 3rem;
    margin: 0
        auto;
}
.online-accounts {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    align-items: flex-start;
    align-content: center;
    justify-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.online-accounts
    li
    a {
    display: block;
    width: 4rem;
    text-align: center;
    margin: 1rem;
    text-decoration: none;
}

header .icon::before {
    margin-right: $universal-padding;
}
header .logo {
    line-height: 2.3rem;
}
